use master
IF exists(select * from sysdatabases where name='qltv')
	drop database qltv
go
create database qltv
go
use qltv
CREATE TABLE [DocGia] (
	[ma_docgia] [smallint] NOT NULL ,
	[ho] [nvarchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[tenlot] [nvarchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ten] [nvarchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
	, NgaySinh smalldatetime
) ON [PRIMARY] 
GO

CREATE TABLE [NguoiLon] (
	[ma_docgia] [smallint] NOT NULL ,
	[sonha] [nvarchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[duong] [nvarchar] (63) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[quan] [nvarchar] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[dienthoai] [nvarchar] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[han_sd] [smalldatetime] NOT NULL 	
) ON [PRIMARY]
GO

CREATE TABLE [TreEm] (
	[ma_docgia] [smallint] NOT NULL ,
	[ma_docgia_nguoilon] [smallint] NOT NULL	
) ON [PRIMARY]
GO

CREATE TABLE [CuonSach] (
	[isbn] [int] NOT NULL ,
	[Ma_CuonSach] [smallint] NOT NULL ,
	[TinhTrang] [nvarchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [DangKy] (
	[isbn] [int] NOT NULL ,
	[ma_docgia] [smallint] NOT NULL ,
	[ngaygio_dk] [smalldatetime] ,
	[ghichu] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS 
) ON [PRIMARY]
GO

CREATE TABLE [DauSach] (
	[isbn] [int] NOT NULL ,
	[ma_tuasach] [int] NOT NULL ,
	[ngonngu] [nvarchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS ,
	[bia] [nvarchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS  ,
	[trangthai] [nvarchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS not null
) ON [PRIMARY]
GO

CREATE TABLE [Muon] (
	[isbn] [int] NOT NULL ,
	[ma_cuonsach] [smallint] NOT NULL ,
	[ma_docgia] [smallint] NOT NULL ,
	[ngayGio_muon] [smalldatetime] NOT NULL ,
	[ngay_hethan] [smalldatetime] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [QuaTrinhMuon] (
	[isbn] [int] NOT NULL ,
	[ma_cuonsach] [smallint] NOT NULL ,
	[ngayGio_muon] [smalldatetime] NOT NULL ,
	[ma_docgia] [smallint] NOT NULL ,
	[ngay_hethan] [smalldatetime] NULL ,
	[ngayGio_tra] [smalldatetime] NULL ,
	[tien_muon] [money] NULL ,
	[tien_datra] [money] NULL ,
	[tien_datcoc] [money] NULL ,
	[ghichu] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [TuaSach] (
	[ma_tuasach] [int] NOT NULL ,
	[TuaSach] [nvarchar] (63) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[tacgia] [nvarchar] (31) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[tomtat] varchar(222) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

------------------------------------------------------------
--create PK
ALTER TABLE [CuonSach] WITH NOCHECK ADD 
	CONSTRAINT [PK_cuonsach] PRIMARY KEY  CLUSTERED 
	(
		[isbn],
		[ma_cuonsach]
	)  ON [PRIMARY] 
GO

ALTER TABLE [DangKy] WITH NOCHECK ADD 
	CONSTRAINT [PK_dangky] PRIMARY KEY  CLUSTERED 
	(
		[isbn],
		[ma_docgia]
	)  ON [PRIMARY] 
GO

ALTER TABLE [DauSach] WITH NOCHECK ADD 
	CONSTRAINT [PK_dausach] PRIMARY KEY  CLUSTERED 
	(
		[isbn]
	)  ON [PRIMARY] 
GO

ALTER TABLE [DocGia] WITH NOCHECK ADD 
	CONSTRAINT [PK_docgia] PRIMARY KEY  CLUSTERED 
	(
		[ma_docgia]
	)  ON [PRIMARY] 
GO

ALTER TABLE [Muon] WITH NOCHECK ADD 
	CONSTRAINT [PK_muon] PRIMARY KEY  CLUSTERED 
	(
		[isbn],
		[ma_cuonsach]
	)  ON [PRIMARY]
GO

ALTER TABLE [NguoiLon] WITH NOCHECK ADD 
	CONSTRAINT [PK_nguoilon] PRIMARY KEY  CLUSTERED 
	(
		[ma_docgia]
	)  ON [PRIMARY]
GO

ALTER TABLE [QuaTrinhMuon] WITH NOCHECK ADD 
	CONSTRAINT [PK_QuaTrinhMuon] PRIMARY KEY  CLUSTERED 
	(
		[isbn],
		[ma_cuonsach],
		[ngayGio_muon]
	)  ON [PRIMARY] 
GO

ALTER TABLE [TreEm] WITH NOCHECK ADD 
	CONSTRAINT [PK_treem] PRIMARY KEY  CLUSTERED 
	(
		[ma_docgia]
	)  ON [PRIMARY] 
GO

ALTER TABLE [TuaSach] WITH NOCHECK ADD 
	CONSTRAINT [PK_tuasach] PRIMARY KEY  CLUSTERED 
	(
		[ma_tuasach]
	)  ON [PRIMARY] 
GO

------------------------------------------------------------
--create FK
ALTER TABLE [CuonSach] ADD 
	CONSTRAINT [FK_cuonsach_dausach] FOREIGN KEY 
	(
		[isbn]
	) REFERENCES [DauSach] (
		[isbn]
	)
GO

ALTER TABLE [DangKy] ADD 
	CONSTRAINT [FK_dangky_dausach] FOREIGN KEY 
	(
		[isbn]
	) REFERENCES [DauSach] (
		[isbn]
	),
	CONSTRAINT [FK_dangky_docgia] FOREIGN KEY 
	(
		[ma_docgia]
	) REFERENCES [DocGia] (
		[ma_docgia]
	)
GO

alter table Muon add
	constraint fkMuon_DocGia 
	foreign key(ma_docgia)
	references DocGia(ma_docgia)
go

alter table QuaTrinhMuon add
	constraint fkQuaTrinhMuon_DocGia 
	foreign key(ma_docgia)
	references DocGia(ma_docgia)
go

ALTER TABLE [DauSach] ADD 
	CONSTRAINT [FK_dausach_tuasach] FOREIGN KEY 
	(
		[ma_tuasach]
	) REFERENCES [TuaSach] (
		[ma_tuasach]
	)
GO

ALTER TABLE [Muon] ADD 
	CONSTRAINT [FK_muon_cuonsach] FOREIGN KEY 
	(
		[isbn],
		[ma_cuonsach]
	) REFERENCES [CuonSach] (
		[isbn],
		[ma_cuonsach]
	)
GO

ALTER TABLE [NguoiLon] ADD 
	CONSTRAINT [FK_nguoilon_docgia] FOREIGN KEY 
	(
		[ma_docgia]
	) REFERENCES [DocGia] (
		[ma_docgia]
	)
GO

ALTER TABLE [QuaTrinhMuon] ADD 
	CONSTRAINT [FK_QuaTrinhMuon_cuonsach] FOREIGN KEY 
	(
		[isbn],
		[ma_cuonsach]
	) REFERENCES [CuonSach] (
		[isbn],
		[ma_cuonsach]
	)
GO

ALTER TABLE [TreEm] ADD 
	CONSTRAINT [FK_treem_docgia] FOREIGN KEY 
	(
		[ma_docgia]
	) REFERENCES [DocGia] (
		[ma_docgia]
	),
	CONSTRAINT [FK_treem_nguoilon] FOREIGN KEY 
	(
		[ma_docgia_nguoilon]
	) REFERENCES [NguoiLon] (
		[ma_docgia]
	)
GO

--DocGia
insert into DocGia values ('1', 'Pham', 'V', 'Bao', null)
insert into DocGia values ('2', 'Vo', 'V', 'Dung', null)
insert into DocGia values ('3', 'Van', 'P', 'Phuc', null)
insert into DocGia values ('66', 'Dao', 'V', 'Mong', null)   select*from DocGia

--NguoiLon
insert into NguoiLon (ma_docGia, soNha, duong, quan, han_sd) 
values ('1', '10', 'Bui Thi Xuan', '2', '6/20/2002')
insert into NguoiLon (ma_docGia, soNha, duong, quan, han_sd) values ('3', '20', 'Dinh Bo Linh', '4', '6/22/2008')
insert into NguoiLon (ma_docGia, soNha, duong, quan, han_sd) values ('5', '30', 'Duong Ba Trac', '6', '6/24/2008')

--TreEm
insert into TreEm values ('2', '1')
insert into TreEm values ('4', '3')
insert into TreEm values ('6', '5')

--TuaSach
insert into TuaSach values (1, 'Last of the Mohicans', 'James Fenimore Cooper', null)
insert into TuaSach values (2, 'The Night-Born', 'Jack London', null)
insert into TuaSach values (3, 'Lemon', 'Motojirou', null)

--DauSach
insert into DauSach values (1, 1, 'ANH', 'BIA CUNG', 'Y')
insert into DauSach values (3, 1, 'DUC', 'BIA CUNG', 'Y')
insert into DauSach values (4, 1, 'HAN', 'BIA CUNG', 'Y')

--CuonSach
insert into CuonSach values (1,1, 'N')
insert into CuonSach values (1,2, 'N')
insert into CuonSach values (1,3, 'Y')

--DangKy
insert into DangKy values (1,1, '7/19/2007', null)
insert into DangKy values (1,52, '7/19/2007', null)
insert into DangKy values (43,35, '7/19/2007', null)

--Muon
insert into Muon values (1, 3, 2, '8/6/2007', '8/20/2007')
insert into Muon values (1, 5, 1, '8/19/2007', '8/3/2007')
insert into Muon values (3, 1, 1, '8/6/2007', '8/20/2007')


--QTrinhMuon
insert into QuaTrinhMuon values (1, 3, '6/7/2006', 23, '6/21/2006', '6/10/2006', null, null, null, null)
insert into QuaTrinhMuon values (1, 3, '6/21/2006', 23, '7/5/2006', '6/24/2006', null, null, null, null)
insert into QuaTrinhMuon values (1, 3, '7/5/2006', 23, '7/19/2006', '7/8/2006', null, null, null, null)


update NguoiLon
set han_sd=dateadd(year,11,han_sd)

update DangKy
set ngaygio_dk=dateadd(year,11,ngaygio_dk)

update Muon
set ngayGio_muon=dateadd(year,11,ngayGio_muon),
	ngay_hethan=dateadd(year,11,ngay_hethan)

update QuaTrinhMuon
set ngayGio_muon=dateadd(year,11,ngayGio_muon),
	ngay_hethan=dateadd(year,11,ngay_hethan),
	ngayGio_tra=dateadd(year,11,ngayGio_tra)

/*
select * from TuaSach
select * from DocGia

select * from NguoiLon
select * from TreEm

select * from DauSach
select * from CuonSach

select * from DangKy
select * from Muon
select * from QuaTrinhMuon
*/
--sp_columns quatrinhmuon
--sp_helpconstraint quatrinhmuon
/*create proc sp_traSach @isbn int,@ma_cuonsach int,@ma_docgia int
as
begin
	if not exists (select * from muon where where isbn=@isbn and ma_cuonsach=@ma_cuonsach and ma_docgia=@ma_docgia)
	begin
		raiserror('khong co',16,1)
		return
	end
	declare @soNgayQuanHan int
	select @soNgayQuanHan=datediff(d,ngay_hethan,getdate())
	from muon
	where isbn=@isbn
	and ma_cuonsach=@ma_cuonsach and ma_docgia=@ma_docgia
	begin tran
		insert into QuaTrinhMuon(isbn,ma_cuonsach,ngayGio_muon,ma_docgia,ngay_hethan,ngayGio_tra)
			select isbn,ma_cuonsach,ngayGio_muon,ma_docgia,ngay_hethan, getdate()
			from muon
			where isbn=@isbn and ma_cuonsach=@ma_cuonsach and ma_docgia=@ma_docgia
		if @@ERROR<>0
		begin
			raiserror('loi them vao qua trinh',16,1)
			rollback tran
		end
		update QuaTrinhMuon
		set tien_muon=@soNgayQuanHan*1000
		where isbn=@isbn and ma_cuonsach=@ma_cuonsach and ma_docgia=@ma_docgia

		delete from muon
		where isbn=@isbn and ma_cuonsach=@ma_cuonsach and ma_docgia=@ma_docgia
		if @@ERROR<>0
		begin
			raiserror('loi xóa muon',16,1)
			rollback tran
		end
	commit tran
end
select * from muon 
exec sp_traSach 1,3,5
select * from QuaTrinhMuon

*/



------------------Cau 1

create proc sp_thongtinDocGia @madg int
as
begin 
	if not exists(select*from DocGia where ma_docgia=@madg)
	raiserror ('khong ton tai doc gia nay',16,1)
	else if exists(select * from NguoiLon where ma_docgia=@madg)

		select  DocGia.ma_docgia,ho,ten,sonha,duong,quan
		from DocGia join NguoiLon on DocGia.ma_docgia = NguoiLon.ma_docgia
		where DocGia.ma_docgia=@madg


		else

		select ho,tenlot,ten
		from DocGia join TreEm on DocGia.ma_docgia=TreEm.ma_docgia
		where DocGia.ma_docgia=@madg

end


exec sp_thongtinDocGia 21







--Câu 2. Thông tin đầu sách:
--Tên: sp_ThongtinDausach
--Nội dung: Liệt kê những thông tin của đầu sách, thông tin tựa sách và số lượng
--sách hiện chưa được mượn của một đầu sách cụ thể (ISBN). 


select *from Muon
select*from DauSach

create proc sp_dausachchuamuon @maisbn int 
as
begin 
	if not exists(select *from DauSach where isbn=@maisbn and trangthai =N'Y')
	raiserror('dau sach nay da duoc muon',16,1)

	else 
		select TuaSach.TuaSach,DauSach.isbn,count (*) as slcs
		from DauSach join TuaSach on DauSach.ma_tuasach=TuaSach.ma_tuasach
		join CuonSach on DauSach.isbn=CuonSach.isbn
		and TinhTrang='Y'
		and DauSach.isbn=@maisbn
		group by TuaSach.TuaSach,DauSach.isbn

		end



exec sp_dausachchuamuon 1




--Câu 3. Liệt kê những độc giả người lớn đang mượn sách:
--Tên: sp_ThongtinNguoilonDangmuon
--Nội dung: Liệt kê những thông tin của tất cả độc giả đang mượn sách của thư
--viện. 

select*from Muon
select*from DocGia

create proc sp_ThongtinNguoilonDangmuon  @madg1 int
as
begin 
	if not exists(select *from DocGia where ma_docgia=@madg1)
	raiserror('Khong ton tai doc gia nay',16,1)
	else 
		select isbn as N'Ma cuon sach ',ma_cuonsach,Muon.ma_docgia,ho,ten,tenlot
		from Muon join DocGia on Muon.ma_docgia=DocGia.ma_docgia
		and Muon.ma_docgia=@madg1

end





exec sp_ThongtinNguoilonDangmuon  5

drop proc sp_ThongtinNguoilonDangmuon 



--Câu 4. Liệt kê những độc giả người lớn đang mượn sách quá hạn:
--Tên: sp_ThongtinNguoilonQuahan
--Nội dung: Liệt kê những thông tin của tất cả độc giả đang mượn sách của thư
--viện đang trong tình trạng mượn quá hạn 14 ngày. 

select *
from QuaTrinhMuon qtm
where DATEDIFF(DAY,qtm.ngayGio_tra,qtm.ngayGio_muon)>14


create proc sp_ThongtinNguoilonQuahan @madg2 int 
as
begin 
	if not exists(select *from DocGia where ma_docgia=@madg2)
	raiserror('Khong ton tai doc gia nay',16,1)
	else 
		select isbn as N'Ma cuon sach ',ma_cuonsach,Muon.ma_docgia,ho,ten,tenlot
		from DocGia join NguoiLon on DocGia.ma_docgia=NguoiLon.ma_docgia
		join Muon on Muon.ma_docgia=NguoiLon.ma_docgia
		and DATEDIFF(DAY,Muon.ngay_hethan,GETDATE())>14

end





--Câu 5. Liệt kê những độc giả người lớn đang mượn sách có trẻ em cũng đang mượn
--sách:
--Tên: sp_DocGiaCoTreEmMuon
--Nội dung: Liệt kê những những độc giả đang trong tình trạng mượn sách và
--những trẻ em độc giả này đang bảo lãnh cũng đang trong tình trạng mượn sách.


select *from NguoiLon
select*from TreEm


--Câu 6. Cập nhật trạng thái của đầu sách: 

create proc sp_CapnhatTrangthaiDausach @isbn int 

as

	begin 
	declare @dem int 
	select @dem = count(*)
	from CuonSach
	where TinhTrang='Y' and isbn=@isbn

	if @dem=0
	update DauSach
	set trangthai='N'
	where isbn=@isbn

	else

update DauSach
set trangthai='y'
where isbn=@isbn

end



select*from CuonSach where isbn=1
select*from DauSach where isbn=1
set TinhTrang='y'
where isbn=1 and Ma_CuonSach in (1,2)

exec sp_CapnhatTrangthaiDausach 1